[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tuna"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jsonpath = "*"
pymysql = "*"
jmespath = "*"
pycryptodome = "*"
beautifulreport = "*"
ilogger = "*"
redis = "*"
parameterized = "*"
testfilter = "*"
ddt = "*"
python-dateutil = "*"
pytest = "*"
jpype1 = "*"
pytest-html = "*"
allure-pytest = "*"

[dev-packages]
pillow = "*"
pymongo = "*"
mitmproxy = "*"


[requires]
python_version = "3.7"
